<script src="/javascripts/admin.js"></script>

<button id="idStartCountdown">Start countdown</button>
<button id="idStopCountdown">Stop countdown</button>

<hr/>

<button id="idStartVideo">Start video</button>
<button id="idStopVideo">Stop video</button>
